h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

img,
picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input,
select,
textarea,
button {
    padding: 0.25rem;
    outline: none;
    border: none;
    background-color: transparent;

    :focus {
        outline: none;
    }
}

input[type='number'] {
    appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

button {
    padding: 0;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    color: inherit;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
